
html
{
    font-family:"Quicksand",Arial, Helvetica, sans-serif
}

body {
    background-color: #b7d7e8;
    background-image: linear-gradient(10deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%),
                      linear-gradient(-10deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%),
                      linear-gradient(10deg, transparent 75%, rgba(255, 255, 255, 0.2) 75%),
                      linear-gradient(-10deg, transparent 75%, rgba(255, 255, 255, 0.2) 75%);
    background-size: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 30px 0;
    

    /* background-image: url(https://www.themealdb.com/images/ingredients/garlic.png);
    background-size: 7.510%; */
    
}


#get-meal
{
 
    text-align: center;
    color: #202020;
    font-size: 18px;
    width: 100%;
    height: 100%;
    /* background-color: blanchedalmond; */
   

}
#meal
{   
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    top: 0;
    position: relative;
}

#meal  h2
{
  padding-bottom: 5px;
  border-bottom: #101010 2.52327522552551145588458275451951px  dotted;
}


input[type="button"] 
{

    padding: 15px 32px;
    margin: 4px 2px;
    border: none;
    background-color:#87bdd8;
    color: #101010;
    font-size: 18px;
    cursor: pointer;
 
}

#Lrow
{
    width: 35%;
}
#Rrow
{
    width: 60%;
}

#instructions>  p
{
     line-height: 1.8;
     white-space: pre-line;
     font-size: 16px;
}

img
{
    max-width: 100%;
   
}


#ingredients ul
{ 
  padding-left: 0px;

}



  #ingredients li {
    position: relative;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.25s;
  }
  


  .categoryButton, #ButtonMeal {
    padding: 15px 32px;
    margin: 4px 2px;
    border: none;
    
    /* Use a gradient for the background */
    background: linear-gradient(to bottom, #87bdd8, #4586a5);
  
    color: #101010;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */

    box-shadow: 0px 3px 6px rgba(0, 0, 0,.18);
  }
  
  
  .categoryButton.active, #ButtonMeal:active {
    /* Adjust the background color and font color for the active state */
    background: linear-gradient(to bottom, #4586a5, #87bdd8);
    color: ECECEC ; /* You can choose any color that suits your design */
  }


  #mealOptions
  {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* Align buttons to the top of the container */
    text-align: center; /* Center button text */
    justify-content: center;
  }

/* Media queries for responsive design */
@media only screen and (max-width: 790px) {
  #meal {
    flex-direction: column;
  }

  #Lrow {
    width: 100%;
  }

  #Rrow {
    width: 100%;
  }


}

